/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  margin: 15px;
}

img{
  display: block;
  
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
